<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="fragments/layout">
<head>
    <title>权限管理</title>

    <link th:href="@{/scripts/pagination/pagination.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/scripts/artDialog/default.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/scripts/My97DatePicker/skin/WdatePicker.css}" rel="stylesheet" type="text/css"/>

    <script th:src="@{/scripts/pagination/jquery.pagination.js}"></script>
    <script th:src="@{/scripts/jquery.smartselect-1.1.min.js}"></script>
    <script th:src="@{/scripts/artDialog/artDialog.js}"/>
    <script th:src="@{/scripts/My97DatePicker/WdatePicker.js}"></script>
    <script th:src="@{/scripts/authority/list.js}"></script>
    <style>
        .table-tb table {
            border-right: 1px solid #E0E0E0;
            border-bottom: 1px solid #E0E0E0
        }

        .table-tb table td {
            border-left: 1px solid #E0E0E0;
            border-top: 1px solid #E0E0E0
        }

        /*
        css 注释：
        只对table td设置左与上边框；
        对table设置右与下边框；
        为了便于截图，我们将css 注释说明换行排版
        */
    </style>
</head>
<body>
<div class="locationLine" layout:fragment="prompt">
    当前位置：首页 &gt; <em>权限管理</em>
</div>
<div class="statisticBox w-782" layout:fragment="content">
    <form id="queryForm" method="get">
        <input type="hidden" name="editrole" id="editrole" th:value="${editrole}"/>
        <input type="hidden" name="deleterole" id="deleterole" th:value="${deleterole}"/>
        <div class="radiusGrayBox782">
            <div class="radiusGrayTop782"></div>
            <div class="radiusGrayMid782">
                <div class="dataSearchBox forUserRadius">
                    <ul>
                        <li>
                            <label class="preInpTxt f-left">资&nbsp;源&nbsp;名&nbsp;</label>
                            <input type="text" class="inp-list f-left w-200" value="" id="resourceName"
                                   name="resourceName"/>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="blueBtn-62X30 f-right" id="searchBtn">查询</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
    <div class="newBtnBox" th:if="${newrole}">
        <a id="addUserInf" class="blueBtn-62X30" href="javascript:void(0)">新增</a>
    </div>
    <div class="dataDetailList mt-12 table-tb">
        <table class="dataListTab">
            <thead><!--页眉-->
            <tr>
                <th>ID</th>
                <th>权限名称</th>
                <th>权限描述</th>
                <th>资源列表</th>
                <th>创建人</th>
                <th>修改人</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="tbodyContent">
            </tbody>
        </table>
        <div class="tableFootLine">
            <div class="pagebarList pagination"/>
        </div>
    </div>
</div>
</body>
</html>