<script th:src="@{/scripts/device/edit.js}"></script>
<form id="saveForm" method="post">
 <input type="hidden" name="id" id="id" th:value="${device.id}"/>
<div class="addInfBtn" >
    <h3 class="itemTit"><span>用户信息</span></h3>
    <table class="addNewInfList">
        <tr>
            <th>编号</th>
            <td width="240"><input class="inp-list w-200 clear-mr f-left" type="text" th:value="${device.num}" name="num" /></td>
            <th>科室</th>
            <td><input class="inp-list w-200 clear-mr f-left" type="text" th:value="${device.departments}"  name="departments"/></td>
        </tr>
        <tr>
            <th>ip</th>
            <td width="240">
                <input class="inp-list w-200 clear-mr f-left" type="text" th:value="${device.ip}"  name="ip"/>
            </td>
            <th>端口</th>
            <td>
             
                  <input class="inp-list w-200 clear-mr f-left" type="text" th:value="${device.port}" name="port"/>
            </td>
        </tr>
        <tr>
            <th>审核</th>
            <td>
                <input class="inp-list w-200 clear-mr f-left" type="text" th:value="${device.examine}" name="examine" />
            </td>
            
        </tr>
    </table>
    <div class="bottomBtnBox">
        <a class="btn-93X38 saveBtn" href="javascript:void(0)">确定</a>
        <a class="btn-93X38 backBtn" href="javascript:closeDialog(0)">返回</a>
    </div>
</div>

</form>