<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="fragments/layout">
<head>
    <title>设备日志</title>

    <link th:href="@{/scripts/pagination/pagination.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/scripts/artDialog/default.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/scripts/My97DatePicker/skin/WdatePicker.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/plugins/datepicker/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/plugins/datepicker/datetimepicker.min.css}" rel="stylesheet"/>
    <script th:src="@{/assets/js/plugins/datepicker/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/plugins/datepicker/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/assets/js/plugins/datepicker/bootstrap-datetimepicker.zh-CN.js}"></script>

    <script th:src="@{/scripts/pagination/jquery.pagination.js}"></script>
    <script th:src="@{/scripts/jquery.smartselect-1.1.min.js}"></script>
    <script th:src="@{/scripts/artDialog/artDialog.js}" />
    <script th:src="@{/scripts/My97DatePicker/WdatePicker.js}"></script>
    <script th:src="@{/scripts/devicelog/list.js}"></script>
</head>
<body>
<div class="locationLine" layout:fragment="prompt">
    当前位置：首页 &gt; <em >日志管理</em>
</div>
<div class="statisticBox w-782"  layout:fragment="content">
    <form id="queryForm" method="get">
        <div class="radiusGrayBox782">
            <div class="radiusGrayTop782"></div>
            <div class="radiusGrayMid782">
                <div class="dataSearchBox forUserRadius">
                    <ul>
                        <li>
                            <label class="preInpTxt f-left">开始日期</label>
                            <input type="text" class="inp-list f-left w-200" value="" id="start" name="start" />
                        </li>
                        <li>
                            <label class="preInpTxt f-left">结束日期</label>
                            <input type="text" class="inp-list f-left w-200" value="" id="end" name="end" />
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="blueBtn-62X30 f-right" id="searchBtn">查询</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dataDetailList mt-12">
            <table class="dataListTab">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>设备编号</th>
                    <th>日期</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbodyContent">
                </tbody>
            </table>
            <div class="tableFootLine">
                <div class="pagebarList pagination"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>